*.env
/Machine Learning/End-to-end projects/p1/p1env
/Machine Learning/End-to-end projects/p1/mlproject.egg-info
/Machine Learning/End-to-end projects/p1/logs
/Machine Learning/End-to-end projects/p1/artifacts
/Machine Learning/End-to-end projects/p1/__pycache__